/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-f-y-20-1 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -420px 0px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-10 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -1260px -1540px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-11 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -840px 0px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-12 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -1260px 0px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-13 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: 0px -770px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-14 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -420px -770px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-15 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -840px -770px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-16 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -1260px -770px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-17 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -1680px 0px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-18 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -1680px -770px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-19 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2100px 0px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-2 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2100px -770px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-20 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: 0px -1540px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-21 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -420px -1540px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-22 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -840px -1540px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-23 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: 0px 0px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-24 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -1680px -1540px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-25 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2100px -1540px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-26 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2520px 0px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-27 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2520px -770px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-28 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2520px -1540px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-29 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2940px 0px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-3 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2940px -770px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-30 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2940px -1540px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-4 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: 0px -2310px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-5 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -420px -2310px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-6 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -840px -2310px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-7 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -1260px -2310px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-8 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -1680px -2310px;
  width: 420px;
  height: 770px;
}
.icon-f-y-20-9 {
  background-image: url(images/sprites/f-y-20.png);
  background-position: -2100px -2310px;
  width: 420px;
  height: 770px;
}
