@import "variables";

body {
  background: @black url('../images/bg4.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin:0;
  cursor: none;
  overflow: hidden;
}

@font-face {
  font-family: 'PfdinProLight';
  src: url(fonts/PFDinTextCondPro-Light.ttf);
}

@font-face {
  font-family: 'PfdinProBold';
  src: url(fonts/PFDinTextCondPro-Bold.ttf);
}

@font-face {
  font-family: 'PfdinProMedium';
  src: url(fonts/PFDinTextCondPro-Medium.ttf);
}

.pe-main-frame {
  width: 100%;
  cursor: none;
}

.mf-footer {
  width: 100%;
  text-align: center;
}

.hidden {
  visibility: hidden;
}