@import "variables";

.pe-main-table-2 {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 7px 11px;

  td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    text-align: center;
    &.logo {
      vertical-align: top;
      min-width: 45px;
    }
  }

  .tr-rest-header {
    height: 180px;
    vertical-align: bottom;
  }

  .actions-title {
    height: 20px;
    width: 80%;
    margin: 0 auto;
  }

  .logo {
    max-height: 100%;
    min-width: 50px;
    margin: 0 auto;
  }
  .logo img {
    left: 10px;
    position: fixed;
    top: 10px;
  }

  .row {
    width: 100%;
  }
  .table-border__columns {
    display: table;
    width: 100%;
  }

  .row-border {
    display: table-cell;
    border-color: @white;
    padding: 6px;

    width: 16.6%;
    &.right {
      border-top: 2px solid @white;
      border-right: 2px solid @white;
    }
    &.left {
      border-top: 2px solid @white;
      border-left: 2px solid @white;
    }
    &.empty {
      border: none;
    }
    &.left-only {
      border-left: 2px solid @white;
    }
  }

  .glass-img-wrapper {
    margin: 0 auto;
    img {
    }
  }

  .current-glass {
    position: relative;
  }

  .next-position-name{
    color: @black;
  }

  .position-header-wrapper {
    width: 100%;
    position: absolute;
    margin: auto;
  }

  .position-circle {
    margin: 0 auto;
    img {
      width: 100%;
      border-radius: 100%;
      max-width: 190px;
      max-height: 190px;
      border: 2px solid;

      &.lightblue {
        border-color: @lightblue;
      }

      &.orange {
        border-color: @orange;
      }

      &.green {
        border-color: @green;
      }

      &.white {
        border-color: white;
      }

      &.red {
        border-color: @darkred;
      }
    }
  }
  .rest-title {
    position: absolute;
    bottom: 0;
    &.action {

      margin-bottom: -60px;
      margin-left: -120px;
    }
    &.super-action {
      margin-bottom: -55px;
      margin-left: 140px;
    }
  }

  .current-percent {
    color: #fff;
    font-size: xx-large;
    font-weight: 800;
    line-height: 53px;
    min-height: 53px;
    height: 53px;
    min-width: 99px;
    position: absolute;
    //left: -100px;
    top: 90%;
    z-index: -1;
    opacity: 0.6;
    background-image: url('../images/bage.png') ;
    &.lightblue {
      background-color: @lightblue;
    }
    /*&.orange {
      background-color: @orange;
    }*/
    &.green {
      background-color: @green;
    }
    &.white {
      background-color: @white;
    }
  }

  .changing-class {
    /*width: 200px;
    height: 735px;*/

    margin: 0 auto;
    position: relative;
    top: 120px;
  }
}


