/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```../images/sprites/spinners/s-g-20.png
*/
.icon-s_g_20_0 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_1 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_10 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_11 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_12 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_13 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_14 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_15 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_16 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_17 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_18 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_19 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_2 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_20 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_21 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_22 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_23 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_24 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_3 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_4 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_5 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_6 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_7 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_8 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-s_g_20_9 {
  background-image: url(../images/sprites/spinners/s-g-20.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
