/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-r_6_0 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_1 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_10 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_11 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_12 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_13 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_14 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_15 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_16 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_17 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_18 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_19 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_2 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_20 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_21 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_22 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_23 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_24 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_25 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_26 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_27 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_28 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_29 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_6_3 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_6_30 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_6_31 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_6_32 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_6_4 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_6_5 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_6_6 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_6_7 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_6_8 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_6_9 {
  background-image: url(../images/sprites/red/sprite-r-6.png);
  background-position: -1600px -1470px;
  width: 200px;
  height: 735px;
}
