/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-b_15_0 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_1 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_10 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_11 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_12 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_13 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_14 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_15 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_16 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_17 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_18 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_19 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_2 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_20 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_21 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_22 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_23 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_24 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_25 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_26 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_27 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_28 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_29 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_15_3 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_15_30 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_15_4 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_15_5 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_15_6 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_15_7 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_15_8 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_15_9 {
  background-image: url(../images/sprites/blue/sprite-b-15.png);
  background-position: -1200px -1470px;
  width: 200px;
  height: 735px;
}
