/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
../images/sprites/blue/sprite-r-1.png
*/
.icon-y_1_0 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_1 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_10 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_11 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_12 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_13 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_14 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_15 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_16 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_17 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_18 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_19 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_2 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_20 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_21 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_22 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_23 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_24 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_25 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_26 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_27 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_28 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_29 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_3 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_30 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_31 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_32 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_33 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_34 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_35 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_36 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_37 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_38 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_39 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -1800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_4 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_40 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_41 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2400px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_5 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2400px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_6 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-y_1_7 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2600px 0px;
  width: 200px;
  height: 735px;
}
.icon-y_1_8 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2600px -735px;
  width: 200px;
  height: 735px;
}
.icon-y_1_9 {
  background-image: url(../images/sprites/yellow/sprite-y-1.png);
  background-position: -2600px -1470px;
  width: 200px;
  height: 735px;
}
