/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-r_8_0 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_1 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_10 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_11 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_12 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_13 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_14 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_15 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_16 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_17 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_18 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_19 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_2 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_20 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_21 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_22 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_23 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_24 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_25 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_26 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_27 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_28 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_29 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_8_3 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_8_30 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_8_31 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_8_32 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_8_4 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_8_5 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_8_6 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_8_7 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_8_8 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_8_9 {
  background-image: url(../images/sprites/red/sprite-r-8.png);
  background-position: -1600px -1470px;
  width: 200px;
  height: 735px;
}
