/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-b_14_0 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_1 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_10 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_11 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_12 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_13 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_14 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_15 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_16 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_17 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_18 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_19 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_2 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_20 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_21 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_22 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_23 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_24 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_25 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_26 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_27 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_28 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_29 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_14_3 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_14_30 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_14_31 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_14_4 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_14_5 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_14_6 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_14_7 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_14_8 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_14_9 {
  background-image: url(../images/sprites/blue/sprite-b-14.png);
  background-position: -1400px -1470px;
  width: 200px;
  height: 735px;
}
