/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-g_4_0 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_1 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_10 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_11 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_12 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_13 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_14 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_15 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_16 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_17 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_18 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_19 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_2 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_20 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_21 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_22 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_23 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_24 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_25 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_26 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_27 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_28 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_29 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_4_3 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_4_30 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_31 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_32 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_33 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_34 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_35 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_4 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_5 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_6 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_7 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -1800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_8 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -2000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_4_9 {
  background-image: url(../images/sprites/green/sprite-g-4.png);
  background-position: -2200px -1470px;
  width: 200px;
  height: 735px;
}
