/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-b_9_0 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_1 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_10 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_11 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_12 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_13 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_14 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_15 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_16 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_17 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_18 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_19 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_2 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_20 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_21 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_22 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_23 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_24 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_25 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_26 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_27 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_28 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_29 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-b_9_3 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-b_9_30 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_9_31 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_9_32 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_9_4 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_9_5 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_9_6 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_9_7 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_9_8 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-b_9_9 {
  background-image: url(../images/sprites/blue/sprite-b-9.png);
  background-position: -1600px -1470px;
  width: 200px;
  height: 735px;
}
