/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-g_18_0 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_1 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_10 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_11 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_12 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_13 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_14 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_15 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_16 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_17 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_18 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_19 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_2 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_20 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_21 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_22 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_23 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_24 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_25 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_26 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_27 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_28 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_29 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_18_3 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_18_4 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_18_5 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_18_6 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_18_7 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_18_8 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_18_9 {
  background-image: url(../images/sprites/green/sprite-g-18.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
