/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-g_2_0 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_1 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_10 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_11 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_12 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_13 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_14 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_15 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_16 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_17 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_18 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_19 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_2 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_20 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_21 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_22 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_23 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_24 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_25 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_26 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_27 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_28 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_29 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_3 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-g_2_30 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_31 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_32 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_33 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_34 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_35 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_36 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_37 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_4 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_5 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -1800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_6 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -2000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_7 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -2200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-g_2_8 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -2400px 0px;
  width: 200px;
  height: 735px;
}
.icon-g_2_9 {
  background-image: url(../images/sprites/green/sprite-g-2.png);
  background-position: -2400px -735px;
  width: 200px;
  height: 735px;
}
