/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-r_16_0 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -200px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_1 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1400px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_10 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -400px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_11 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -600px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_12 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -800px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_13 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1000px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_14 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1200px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_15 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1400px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_16 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: 0px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_17 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -200px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_18 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -400px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_19 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -600px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_2 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -800px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_20 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1000px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_21 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1200px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_22 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: 0px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_23 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1600px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_24 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1600px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_25 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1800px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_26 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1800px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_27 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -2000px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_28 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -2000px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_29 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -2200px 0px;
  width: 200px;
  height: 735px;
}
.icon-r_16_3 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -2200px -735px;
  width: 200px;
  height: 735px;
}
.icon-r_16_30 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: 0px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_16_4 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -200px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_16_5 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -400px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_16_6 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -600px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_16_7 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -800px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_16_8 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1000px -1470px;
  width: 200px;
  height: 735px;
}
.icon-r_16_9 {
  background-image: url(../images/sprites/red/sprite-r-16.png);
  background-position: -1200px -1470px;
  width: 200px;
  height: 735px;
}
